.shopping-container {
  position: fixed;
  inset: var(--spacing-small);
  background-color: var(--color-card-bg);
  padding: var(--spacing-large);
}

.shopping-element td{
  padding: var(--spacing-medium);
}

.shopping-element__name {
  font-weight: 700;
}

.shopping-element__price {
  color: var(--color-unaccent);
}

.shopping-close {
  position: absolute;
  right: var(--spacing-large);
  top: var(--spacing-large);
  width: 30px;
  height: 30px;
  padding: var(--spacing-small);
  background-color: transparent;
  background-image: url('./img/close-icon.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}